body {
  font-family: 'Amaranth', sans-serif;
  margin: 0%;
} 
.barnav {
  background-image: url("./ImgSrc/muça.jpg");
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  padding-right: 8%;
  padding-left: 8%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: 39%;
  height: 32em;
}
.title{
  color: white;
}
#ddash{
  font-size: 170%;
}
.topbar{
  margin: 0%;
  padding-top: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}
.righttopbar{
  width: 7%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}